* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos de la BARRA DE NAVEGACIÓN */
#logo {
  height: 10vh;
  width: 35vh; 
}

.navbar {
  background-image: radial-gradient(circle closest-corner, #e7a428, #e49e06);
  opacity: 0.9;
}

.nav-link:hover {
  color: rgb(129, 45, 6) !important;
}

.lista {
  list-style-type: disc;
  margin-left: 2%;
}

.activo {
  color: rgb(0, 0, 0) !important;
  font-weight: bolder;
  text-decoration: underline rgb(0, 0, 0);
}

/* Estilos del FOOTER */
.redsocial_instagram {
  height: 6vh;
  width: 6vh;
  padding-right: 2px;
  padding-bottom: 2px; 
}
.footer--background {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); 
} 


/* Otros estilos comunes */
.tituloPrincipal {
  font-size: x-large;
  text-transform: uppercase;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 20vh;
  margin-bottom: 3vh;
  text-align: center;
  background-color: rgb(253, 204, 98);
  border-style: double;
}

img.carousel-caption  {
  opacity: 0.7;
  height: 17vh;
  width: 70%;
  border-radius: 50px;
}

/* Estilos de la página HOME */
.calesita {
  padding-top: 12vh;
}

.carousel-indicators li {
  background-clip: border-box;
  width: 20px;
  height: 1px;
  border-radius: 100%;
}

.fondo_home {
  background: linear-gradient(to top, #6190e8, #a7bfe8);
}

.avatar {
  width: 50%; 
}

/* Estilos de la página AMÉRICA LATINA */


/* Estilos de la página ECUADOR DIVERSO */
  .ecuador {
  opacity: 0.2;
  position: fixed;
  z-index: -5;
  width: 90%;
  margin-top: 15vh;
}

.ecuador__seccion {
  border-top: 2px solid #000;
}

.carousel__imagenes {
  max-width: 90%;
  max-height: 80vh;
  margin: auto;
}

/* Estilos de la página ESTUDIAR EN EL EXTRANJERO */
/* .extranjero__imagen {
  height: 60vh;
  width: 100vh;
} */
.tituloPrincipal--extenso {
  text-transform: uppercase;
  margin-left: 0vh;
  margin-right: 0vh;
}

/* Estilos de la página GALERÍA */
#galeria .col-lg-4 {
  padding: 25px;
}

#galeria img:hover {
  border: 5px solid #f7f7f7;
}

#galeria img {
  width: 100%;
  height: 80%;
}

.total {
  height: 100%;
}

/* Estilos de la página RUSIA */
.rusia {
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.rusia__seccion {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

/* Estilos de la opción SUSCRIBIRSE */
.modal-header {
  background-color: rgba(226, 157, 9, 0.925);
}

.modal-body {
  background-color: rgba(233, 194, 109, 0.925);
}

.modal-footer {
  background-color: rgba(226, 157, 9, 0.925);
}

.botones__posicion  {
  position: absolute;
  top: 104%;
  left: 35%;
}

.botones__bordes {
  color: #000;
  padding: 3px 7px 3px 7px;
  background-color: teal  ;
  border-color: rgb(1, 91, 133);
  font-weight: bold;
  border-radius: 10px;
}

.botones__bordes:hover {
  background-color: rgb(59, 139, 139)  ;
  font-size: 15.5px;
  color: #f7f7f7;
}
/* .galer {
  position: relative;
  top: 25vh;
} */


/* Media queries */
@media (min-width: 355px) {
  .tituloPrincipal {
    margin-top: 15vh;
    margin-left: 7vh;
    margin-right: 7vh;
  }
}

@media (min-width: 576px) {
  .ecuador {
    width: 70%;
    margin-top: 0vh;
    margin-left: 15%;
   }
   .tituloPrincipal {
    margin-left: 12vh;
    margin-right: 12vh;
  }
}

@media (min-width: 768px) {
  .avatar {
         width: 30%;
  }
  .ecuador {
    width: 60%;
   }
   
}

@media (min-width: 992px) {
  .lista {
    list-style-type: none;
  }
  .nav-item {
    text-align: center;
  }
  .texto__instagram {
    opacity: 0;
  }
  .tituloPrincipal {
    margin-left: 45vh;
    margin-right: 45vh;
    margin-bottom: 3vh;
  }
  .tituloPrincipal--extenso {
    margin-left: 35vh;
    margin-right: 35vh;
  }
}

@media (min-width: 1024px) {
  img.carousel-caption  {
    height: 20vh;
  }
  .borde_r {
    border-right: 2px solid rgb(255, 255, 255);
  }
  .borde_l {
    border-left: 2px solid rgb(255, 255, 255);
  }
  .arregloFooter {
    text-align: end !important;
  }
  .arregloFooter2 {
    text-align: start !important;
  }
  .ecuador {
    width: 45%;
    margin-left: 25%;
   }
}

@media (min-width: 1440px) {
  .ecuador {
    width: 40%;
    margin-left: 30%;
   }
}

@media (min-width: 1700px) {
  .ecuador {
    width: 30%;
    margin-left: 35%;
   }
}