* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos de la BARRA DE NAVEGACIÓN */
#logo {
  height: 3.5rem;
  width: 10rem; }

  
/* Estilos del FOOTER */
.redsocial_whatsapp {
  height: 4vh;
  width: 4vh;
  padding-right: 2px;
  padding-bottom: 2px; 
}
.redsocial_facebook {
  height: 4vh;
  width: 4vh;
  padding-right: 2px;
  padding-bottom: 2px; 
}

/* Estilos sección HOME */
.avatar {
  width: 40%; 

}

/* Estilos sección AMÉRICA LATINA */

/* Estilos sección ECUADOR DIVERSO */
.ecuador__imagen {
  height: 40vh;
  width: 50vh;
}


/* Estilos sección ESTUDIAR EN EL EXTRANJERO */
/* .extranjero__imagen {
  height: 60vh;
  width: 100vh;
} */

/* Estilos sección GALERÍA */
#galeria .col-lg-4 {
  padding: 25px;
}

#galeria img:hover {
  border: 5px solid #f7f7f7;
}

#galeria img {
  width: 100%;
  height: 80%;
}

.total {
  height: 100%;
}

/* Estilos sección RUSIA */


/* Media queries */
@media (min-width: 768px) {
  .avatar {
         width: 30%;
  }
}
