#logo {
  height: 3.5rem;
  width: 10rem; }

.redsocial_whatsapp {
  height: 4vh;
  width: 4vh;
  padding-right: 2px;
  padding-bottom: 2px; 
}


.avatar {
  height: 50vh;
  width: 50vh; }

/* .navbar {
    position: sticky;
    top: 0;
    z-index: 2;
} */
/* .calesita {
    padding-top: 30vh;
} */
